/* ./src/styles/pages/register.css */

.register-container {
    height: 100vh;
    padding: 0;
  }
  
  .register-imageContainer {
    position: relative;
    height: 100%;
    width: 100%; /* Ensure full width */
    overflow: hidden; /* Prevent overflow */
  }
  
  .register-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  
  .register-formContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0;
  }
